.wp-block-next-related-posts-query {
	&__info {
		font-size: 13px;
		color: #757575;
		background: #f0f0f0;
		padding: 8px 12px;
		border-radius: 4px;
		margin-bottom: 1em;
	}

	&__template {
		min-height: 100px;
	}
}
